In [1]:
import pandas as pd
pd.read_csv("../data/PPP_data_150k_plus.csv")

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsRetained,DateApproved,Lender,CD
0,a $5-10 million,"ARCTIC SLOPE NATIVE ASSOCIATION, LTD.",7000 Uula St,BARROW,AK,99723.0,813920.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,Y,295.0,04/14/2020,"National Cooperative Bank, National Association",AK - 00
1,a $5-10 million,CRUZ CONSTRUCTION INC,7000 East Palmer Wasilla Hwy,PALMER,AK,99645.0,238190.0,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,NaN,215.0,04/15/2020,First National Bank Alaska,AK - 00
2,a $5-10 million,"I. C. E. SERVICES, INC",2606 C Street,ANCHORAGE,AK,99503.0,722310.0,Corporation,Unanswered,Unanswered,Unanswered,NaN,367.0,04/11/2020,KeyBank National Association,AK - 00
3,a $5-10 million,KATMAI HEALTH SERVICES LLC,"11001 O'MALLEY CENTRE DRIVE, SUITE 204",ANCHORAGE,AK,99515.0,621111.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,0.0,04/29/2020,Truist Bank d/b/a Branch Banking & Trust Co,AK - 00
4,a $5-10 million,MATANUSKA TELEPHONE ASSOCIATION,1740 S. CHUGACH ST,PALMER,AK,99645.0,517311.0,Cooperative,Unanswered,Unanswered,Unanswered,NaN,267.0,06/10/2020,CoBank ACB,AK - 00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
661213,"e $150,000-350,000",NOT AVAILABLE,NaN,NaN,XX,NaN,339114.0,NaN,Unanswered,Unanswered,Unanswered,NaN,17.0,05/03/2020,"Bank of America, National Association",NA -
661214,"e $150,000-350,000",NOT AVAILABLE,NaN,NaN,XX,NaN,339114.0,NaN,Unanswered,Unanswered,Unanswered,NaN,16.0,05/03/2020,"Bank of America, National Association",NA -
661215,"e $150,000-350,000",NOT AVAILABLE,NaN,NaN,XX,NaN,339114.0,NaN,Unanswered,Unanswered,Unanswered,NaN,14.0,05/03/2020,"Bank of America, National Association",NA -
661216,"e $150,000-350,000",OTTAWA PRODUCTS CO INC,NaN,NaN,XX,NaN,332510.0,NaN,Unanswered,Unanswered,Unanswered,NaN,NaN,05/03/2020,The Huntington National Bank,NA -
661217,"e $150,000-350,000",POPPYCOCKS INC,NaN,NaN,XX,NaN,444220.0,NaN,Unanswered,Unanswered,Unanswered,NaN,NaN,05/03/2020,The Huntington National Bank,NA -

In [25]:
PPPdf = pd.read_csv("../data/PPP_data_150k_plus.csv", encoding= 'utf-8')
PPPdf.tail(2)

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsRetained,DateApproved,Lender,CD
661216,"e $150,000-350,000",OTTAWA PRODUCTS CO INC,NaN,NaN,XX,NaN,332510.0,NaN,Unanswered,Unanswered,Unanswered,NaN,NaN,05/03/2020,The Huntington National Bank,NA -
661217,"e $150,000-350,000",POPPYCOCKS INC,NaN,NaN,XX,NaN,444220.0,NaN,Unanswered,Unanswered,Unanswered,NaN,NaN,05/03/2020,The Huntington National Bank,NA -

In [ ]:
### Dropping the columns I am uninterested in

In [26]:
PPPdf = PPPdf.drop(['RaceEthnicity', 'Gender', 'Veteran', 'NonProfit','DateApproved','CD','NAICSCode'], axis = 1)
PPPdf.tail(2)

,LoanRange,BusinessName,Address,City,State,Zip,BusinessType,JobsRetained,Lender
661216,"e $150,000-350,000",OTTAWA PRODUCTS CO INC,NaN,NaN,XX,NaN,NaN,NaN,The Huntington National Bank
661217,"e $150,000-350,000",POPPYCOCKS INC,NaN,NaN,XX,NaN,NaN,NaN,The Huntington National Bank

In [ ]:
### Getting rid of any rows with "NaN" values.

In [27]:
PPPdf = PPPdf.dropna(axis = 'rows');
print(PPPdf[PPPdf.isna().any(axis=1)])

Empty DataFrame
Columns: [LoanRange, BusinessName, Address, City, State, Zip, BusinessType, JobsRetained, Lender]
Index: []

In [28]:
PPPdf.tail(3)

,LoanRange,BusinessName,Address,City,State,Zip,BusinessType,JobsRetained,Lender
661205,"d $350,000-1 million","PLEASANT PLACES, INC.",7684 Southrail Road,NORTH CHARLESTON,XX,29420.0,Sole Proprietorship,73.0,Synovus Bank
661206,"d $350,000-1 million","SUMTER COATINGS, INC.",2410 Highway 15 South,SUMTER,XX,29150.0,Corporation,62.0,Synovus Bank
661209,"e $150,000-350,000",FRUIT COVE BAPTIST CHURCH OF JACKSONVILLE FL INC,501 State Road 13,SAINT JOHNS,XX,32259.0,Non-Profit Organization,89.0,Synovus Bank

In [ ]:
### Checking to make sure I am left with enough rows

In [23]:
index = PPPdf.index
number_of_rows = len(index)
print(number_of_rows)

613289

In [29]:
PPPdf.to_csv("../data/Clean_PPP_Data.csv")